body,
html {
  height: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;

  align-items: stretch;
  align-content: stretch;

  height: 100%;
}

.code-container {
  display: flex;
  flex-direction: row;
  flex: 2;

  align-items: stretch;
  align-content: stretch;
}

.code,
.output {
  flex: 0.5;
}
.code {
  border: 1px solid silver;
}

.controls {
  display: flex;
  flex-direction: row;

  align-items: center;

  padding: 15px;
  background-color: lightgray;
}

.controls > :not(:last-child) {
  margin-right: 15px;
}

.examples {
  width: fit-content;
}

#help-button {
  background-color: #eee;
  color: black;
}

button,
select {
  cursor: pointer;
}

code {
  white-space: nowrap;
}
